.todo {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  min-height: 500px;
  padding: 10px;
  &Holder {
    opacity: 50%;
  }
  .title {
    font-size: 30px;
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }
  .input {
    padding: 10px 15px;
    background-color: #fff;
    color: #000;
    border: 1px solid #333;
    border-radius: 7px;
  }
  .ul {
    margin: 20px;
    padding: 0;
  }
  button {
    margin: 0 10px;
  }
}
